<div class="container-fluid page">
    <div class="page_box p-3 fs-2  fw-bolder">Empresas</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data p-3">
            <section class="ad_content">
                <div class="section_title">
                    <div class="icon_title"><i class="ri-advertisement-fill"></i></div>
                    <div>Empresas cadastradas</div>
                </div>

                <ul class="nav nav-tabs mb-4 mt-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-secondary" id="all-tab" data-bs-toggle="tab"
                            data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="all-tab-pane"
                            aria-selected="true">Todos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-secondary" id="block-tab" data-bs-toggle="tab"
                            data-bs-target="#block-tab-pane" type="button" role="tab" aria-controls="block-tab-pane"
                            aria-selected="false">Bloqueadas</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
                      <table datatable class="table table-striped table-success mt-5 table-borderless">
                          <thead>
                              <tr>
                                  <th>Empresa</th>
                                  <th>CNPJ</th>
                                  <th>E-mail</th>
                                  <th>Bloquear conta</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr *ngFor="let empresa of empresas">
                                  <td>{{ empresa.nome }}</td>
                                  <td>{{ empresa.cnpj }}</td>
                                  <td>{{ empresa.email }}</td>
                                  <td>
                                      <button class="btn btn-danger me-2">
                                          <i class="ri-lock-2-fill"></i>
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
            </section>
        </div>
    </div>
    <app-modal-mensagem #modal>
        <div class="header-modal">
            <h1>{{modal.teste.nome}}</h1>
            <div class="modal-contact d-flex gap-4">
                <div class="contact-data-modal">
                    <i class="ri-whatsapp-line me-2"></i>
                    <span>{{modal.teste.numero}}</span>
                </div>
                <div class="contact-data-modal">
                    <i class="ri-mail-line me-2"></i>
                    <span>{{modal.teste.email}}</span>
                </div>
            </div>
        </div>
        <div class="body-modal mt-4">
            <div class="imessage">
                <p class="from-them">
                    {{modal.teste.mensagem}}
                </p>
            </div>
        </div>
        <div class="footer-modal d-flex justify-content-end position-absolute">
            <button (click)="modal.close();" class="btn btn-secondary">Fechar</button>
        </div>


    </app-modal-mensagem>
</div>
