i {
  vertical-align: center;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.mdc-list-item__primary-text {
  color: transparent !important;
}

.mdc-list-item.mdc-list-item--with-one-line {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  width: calc(100% - 8px);
  height: 44px;
  margin-bottom: 4px !important;
  margin: 0 0 0 8px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}

.mdc-list-item.mdc-list-item--with-one-line:hover {
  background-color: #0cb100;
}

.list-item-active {
  background-color: #0cb100;
}
