<mat-nav-list>
  <div class="logo py-4">
    <h2 class="text-light text-center">Recycle <span class="text-dark">Hub</span></h2>
  </div>
  <mat-list-item routerLink="/painel" routerLinkActive="list-item-active">
    <i class="ri-dashboard-fill"></i> Painel
  </mat-list-item>
  <mat-list-item routerLink="/categorias" routerLinkActive="list-item-active">
    <i class="ri-filter-3-fill"></i> Categorias
  </mat-list-item>
  <mat-list-item routerLink="/empresas" routerLinkActive="list-item-active">
    <i class="ri-building-fill"></i> Empresas
  </mat-list-item>
  <mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <i class="ri-home-4-fill"></i> Home
  </mat-list-item>
  <mat-list-item routerLink="/anuncios" routerLinkActive="list-item-active">
    <i class="ri-advertisement-fill"></i> Anúncios
  </mat-list-item>
  <mat-list-item routerLink="/mensagens" routerLinkActive="list-item-active">
    <i class="ri-chat-1-fill"></i> Mensagens
  </mat-list-item>
</mat-nav-list>