<div class="container-fluid page">
    <div class="page_box p-3 fs-2  fw-bolder">Painel administrativo</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data p-3">
            <section class="infos_content">
                <div class="section_title">
                    <div class="icon_title"><i class="ri-line-chart-fill"></i></div>
                    <div>Informações gerais</div>
                </div>

                <div class="infos_content-cards row gap-3 justify-content-center my-3">
                    <div class="info_card col-12 col-xl-3 text-center">
                        <div class="card-icon"><i class="ri-checkbox-circle-fill"></i></div>
                        <div class="card-text">Empresas cadastradas</div>
                        <div class="card-value">{{ totalEmpresas }}</div>
                    </div>

                    <div class="info_card col-12 col-md-5 col-xl-3 text-center">
                        <div class="card-icon"><i class="ri-calendar-event-fill"></i></div>
                        <div class="card-text">Novas empresas</div>
                        <div class="card-value">{{ totalEmpresas }}</div>
                    </div>

                    <div class="info_card col-12 col-md-5 col-xl-3 text-center">
                        <div class="card-icon"><i class="ri-filter-fill"></i></div>
                        <div class="card-text">Categorias</div>
                        <div class="card-value">{{ totalCategorias }}</div>
                    </div>

                </div>
            </section>

            <section class="anuncios_content">
                <div class="section_title mb-4">
                    <div class="icon_title"><i class="ri-inbox-fill"></i></div>
                    <div>Empresas aguardando aprovação</div>
                </div>

                <table datatable class="table table-striped table-success mt-4 table-borderless">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>CNPJ</th>
                            <th>E-mail</th>
                            <th>Aprovar cadastro</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>


                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>Empresa 1</td>
                            <td>99.999.999/9999-99</td>
                            <td>empresa1@email.com</td>
                            <td>
                                <button class="btn btn-success me-2"><i class="ri-checkbox-circle-fill"></i></button>

                                <button class="btn btn-danger me-2"><i class="ri-close-circle-fill"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
